sudo: required
dist: trusty
language: python

env:
  global:
  - DOCKER_VERSION="1.9.1-0~trusty"

before_install:
  - cat /etc/hosts
  - ping -c 4 -W 1 localhost
  - sudo cp /etc/hosts /tmp/etc_hosts_original
  - head -n 8 /etc/hosts| tail -n 4 > /tmp/etc_hosts
  - sudo cp /tmp/etc_hosts /etc/hosts
  - cat /etc/hosts

script:
  - ping -c 4 -W 1 localhost
