sudo: required
dist: trusty
language: generic

addons:
  apt:
    packages:
    - mysql-server-5.5
    - mysql-client-core-5.5
    - mysql-client-5.5

install:
  - sudo apt-get info mysql-server-5.5

script:
  - uname -a
